<h1>Users</h1>
<div class="">

<% @users.each do |user| %>
<div class="">

  <h1><%=  user.name %></h1>
  <h3><%= user.bio %></h3>

</div>
<div class="">
  <h5>  <%= user.comments.length %> comments</h5>
</div>
<div class="">
  <h5>  <%= user.followers.length %> followers</h5>
</div>
<% end %>
</div>
